[flake8]
import-order-style=google
inline-quotes=double

ignore=DC100,DC104
exclude=*/migrations/*,
per-file-ignores=
    manage.py:DC102


application_import_names=stockMonitor,core,authentification,stocks,portfolio
multiline-quotes=double
