body {
    background: #0A1429;
    font-family: system-ui;
}

.title__text {
    font-size: 62px;
    font-family: system-ui;
    background: linear-gradient(90deg, rgba(48,44,208,1) 0%, rgba(119,54,54,1) 180%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    width: 711px;
    height: 114px;
    left: 126px;
    top: 276px;
}

.to_come_in {
    position: absolute;
    width: 184px;
    height: 47.01px;
    left: 87%;
    top: 25px;
    font-size: 18px;
    font-family: system-ui;
    background: linear-gradient(90deg, #7000FF 0%, #872626 180%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search_text::placeholder {
	font-size: 12px;
    font-family: system-ui;
	color: rgba(84, 129, 143, 1);
}
