{% extends "admin/base.html" %}
{% load i18n admin_urls %}
{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% translate 'View site' %}</a> /
    {% endif %}
    <a href="{% url 'admin:special_admin' %}">Специальные команды</a> /
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
    {% endif %}
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate 'Log out' %}</button>
    </form>
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}