body {
    background: rgb(228, 228, 228);
    font-family: system-ui;
}

.title__text {
    font-size: 60px;
    font-family: system-ui;
    background: linear-gradient(90deg, rgba(48,44,208,1) 0%, rgba(119,54,54,1) 180%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    width: 1440px;
    height: 2909px;
    left: 80px;
    top: 220px;

}

/* Войти */
.to_come_in {
    display: flex;
    position: absolute;
    width: 184px;
    height: 47.01px;
    left: 1100px;
    top: 25px;
    font-size: 18px;
    font-family: system-ui;
    background: linear-gradient(90deg, #7000FF 0%, #872626 180%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* top_grad_sq */
.top_grad_sq {
    position: absolute;
    width: 184px;
    height: 46px;
    left: 1033px;
    top: 15px;
}

/* Рынок */
.market {
    position: absolute;
    width: 184px;
    height: 47.01px;
    left: 130px;
    top: 25px;
    font-family: 'system-ui';
    color:#548F64

}
/* logo1 */
.logo1 {
    position: absolute;
    width: 5px;
    height: 9px;
    left: 40px;
    top: 17px;
}

/* search_icon */
.search_icon {
    position: absolute;
    width: 5px;
    height: 9px;
    left: 390px;
    top: 28px;
}

/* Left_line */
.left_line {
    position: absolute;
    width: 56px;
    height: 2833px;
    left: 43px;
    top: 81px;
}

/* Right_line */
.right_line {
        position: absolute;
        width: 60px;
        height: 2829px;
        left: 1150px;
        top: 74px;
    }

/* Аналитика */
.analytics {
    display: flex;
    position: absolute;
    width: 184px;
    height: 47.01px;
    left: 230px;
    top: 25px;
    font-family: 'system-ui';
    color: #548F64
}


.top_rectangle {
    display: flex;
    position: absolute;
    width: 1262px;
    height: 70px;
    left: 0px;
    top: 1px;

    background: #fefefe;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);

}

.search_text::placeholder {
	font-size: 12px;
    font-family: system-ui;
	color: #548F64;
}


/* dedook */
.dedook{
    position: absolute;
    width: 316px;
    height: 580px;
    left: 818px;
    top: 161px;
}


/* text under title_text*/
.text_und_tit_text{
    position: absolute;
    width: 553px;
    height: 159px;
    left: 95px;
    top: 340px;
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 31px;

    color: #548F64;
}

/* Podrobnee */
.podrobnee{
    position: absolute;
    width: 273px;
    height: 54.01px;
    left: 93px;
    top: 520px;
}

/* Подробнее */
.text_podr{
    position: absolute;
    width: 553px;
    height: 159px;
    left: 165px;
    top: 500px;
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 380;
    font-size: 23px;
    line-height: 91px;
    background: linear-gradient(90deg, #7000FF 0%, #872626 180%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* top_arrows */
.top_arrows{
    position: absolute;
    width: 1240px;
    height: 20px;
    left: 55px;
    top: 906px;

    opacity: 0.45;
}

/* Rectangles */
.rectangles1{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 84px;
    top: 962px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles2{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 300px;
    top: 962px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles3{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 516px;
    top: 962px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles4{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 732px;
    top: 962px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles5{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 948px;
    top: 962px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.teacker{
    display: flex;
    width: 95px;
    font-family: 'system-ui';
    font-style: normal;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 650;
    color: #000000;
}


.bottom_arrows{
    position: absolute;
    width: 1240px;
    height: 20px;
    left: 55px;
    top: 1056px;

    opacity: 0.45;
}

/*Аналитика рынка */
.analitycs_market{
    position: absolute;
    width: 582px;
    height: 76px;
    left: 105px;
    top: 1290px;
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 500;
    font-size: 51px;
    line-height: 31px;
    background: linear-gradient(90deg, #7000FF 0%, #872626 180%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* Stock Market Monitor */

.SMM_text {
    position: absolute;
    width: 553px;
    height: 217px;
    left: 105px;
    top: 1370px;

    font-family: 'system-ui';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #548F64;
}

/* Graphics */
.graphics{

position: absolute;
width: 520px;
height: 432.64px;
left: 683px;
top: 1220px;

}

/* left_icon unger graf*/
.left_icon{

    position: absolute;
    left: 710px;
    top: 1660px;

}

/* sr_icon under graf */
.sr_icon{

    position: absolute;
    left: 780px;
    top: 1660px;

}

/* right_icon under graf */
.right_icon{

    position: absolute;
    left: 850px;
    top: 1660px;

}

/* right_rec under graf */
.right_rec{

    position: absolute;
    left: 920px;
    top: 1660px;

}

/* Машина 1 */
.car{

    position: absolute;
    width: 1558.71px;
    height: 521.07px;
    left: 107px;
    top: 1665px;

}

/* top_arrows2 */
.top_arrows2 {

    position: absolute;
    width: 1240px;
    height: 20px;
    left: 55px;
    top: 2310px;

    opacity: 0.45;

}


/*Блоги */
.blog{
    position: absolute;
    width: 582px;
    height: 76px;
    left: 67px;
    top: 2090px;
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
    line-height: 31px;
    background: linear-gradient(90deg, #7000FF 0%, #872626 180%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.text_blog{
    position: absolute;
    width: 582px;
    height: 76px;
    left: 67px;
    top: 2170px;
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 31px;
    color: #548F64;
    text-align: left;

}

/* Bottom_rectangles */
.rectangles6{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 84px;
    top: 2370px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles7{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 300px;
    top: 2370px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles8{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 516px;
    top: 2370px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles9{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 732px;
    top: 2370px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.rectangles10{

    position: absolute;
    width: 181.18px;
    height: 57.72px;
    left: 948px;
    top: 2370px;
    display: flex;
    background: #548F64;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

/* bottom_arrows2 */
.bottom_arrows2 {

    position: absolute;
    width: 1240px;
    height: 20px;
    left: 55px;
    top: 2456px;

    opacity: 0.45;

}
